.col-md-12
    .list-group.about
        .list-group-item
            h4.list-group-item-heading Cos'è Blogzinga
            p.list-group-item-text Blogzinga è una raccolta di blog sulla programmazione scritti da sviluppatori italiani.
        .list-group-item
            h4.list-group-item-heading Cosa trovo su Blogzinga
            p.list-group-item-text Su Blogzinga trovi per ogni blog una sua breve descrizione e un link ai principali social
        .list-group-item
            h4.list-group-item-heading Quali blog sono compresi?
            p.list-group-item-text Tutti quelli che troviamo! :) L'importante è che siano scritti da sviluppatori italiani in lingua italiana o in inglese.
        .list-group-item
            h4.list-group-item-heading Chi compila la lista?
            p.list-group-item-text Blogzinga nasce come progetto collaborativo, chiunque può contribuire facendo un <strong>pull request</strong> del progetto
                a(href="https://github.com/cosenonjaviste/blogzinga") https://github.com/cosenonjaviste/blogzinga
        .list-group-item
            h4.list-group-item-heading Come vi è venuta in mente questa idea?
            p.list-group-item-text Molto spesso ci è capitato di scoprire dei blog interessanti di sviluppatori italiani per caso e abbiamo pensato: non sarebbe bello poter vedere in un attimo chi ha la nostra stessa passione e scrive qualcosa di interessante a riguardo?
        .list-group-item
            h4.list-group-item-heading Ma perché solo sviluppatori italiani, non posso mettere un link ad un blog di un autore straniero?
            p.list-group-item-text Tenere un blog è un'attività impegnativa e molto spesso i blog italiani sulla programmazione finiscono a pagina due di Google (quando va bene), Blogzinga è il nostro riconoscimento per il lavoro di tutti quegli sviluppatori italiani che dedicano il loro tempo per condividere conoscenze.
        .list-group-item
            h4.list-group-item-heading Posso clonare Blogzilla e fare l'elenco dei blog che mi piace di più?
            p.list-group-item-text Assolutamente! Ovviamente ci fa piacere se poi citi il progetto originale

                    
                      