.col-md-12
    .page-header
        h3 Cos'è Blogzinga
        p Blogzinga è una raccolta di blog sulla programmazione scritti da sviluppatori italiani. 
        h3 Cosa trovo su Blogzinga
        p Su Blogzinga trovi per ogni blog una sua breve descrizione e un link ai principali social
        h3 Quali blog sono compresi?
        p Tutti quelli che troviamo! :) L'importante è che siano scritti da sviluppatori italiani in lingua italiana o in inglese. 
        h3 Chi compila la lista?
        p Blogzinga nasce come progetto collaborativo, chiunque può contribuire facendo un pull request del progetto https://github.com/cosenonjaviste/blogzinga
        h3 Come vi è venuta in mente questa idea?
        p Molto spesso ci è capitato di scoprire dei blog interessanti di sviluppatori italiani per caso e abbiamo pensato: non sarebbe bello poter vedere in un attimo chi ha la nostra stessa passione e scrive qualcosa di interessante a riguardo?
        h3 Ma perché solo sviluppatori italiani, non posso mettere un link ad un blog di un autore straniero?
        p Tenere un blog è un'attività impegnativa e molto spesso i blog italiani sulla programmazione finiscono a pagina due di Google (quando va bene), Blogzinga è il nostro riconoscimento per il lavoro di tutti quegli sviluppatori italiani che dedicano il loro tempo per condividere conoscenze. 
        h3 Posso clonare Blogzilla e fare l'elenco dei blog che mi piace di più?
        p Assolutamente! Ovviamente ci fa piacere se poi citi il progetto originale

                    
                      