@gray-light: #efefef;

body {
  background-color: @gray-light !important;
}

.width100 {
  width: 100% !important;
}

.hand:hover {
  cursor: pointer;
}

.social {
  font-size: 1.5em !important;
  display: inline-block !important;
  margin-left: 1em;
  margin-bottom: 18px;
  //float: right;
  color: #555;
}

.social:hover {
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #ccc !important;
}

.page-header > h1 {
  font-size: 40px !important;
}

.page-header > h2 {
  font-size: 35px !important;
}

.page-header > h3 {
  font-size: 30px !important;
}

.about .list-group-item-text {
   color: #888 !important;
}