// Grays
@gray-darker: #161616;
@gray-dark: #262626;
@gray: #404040;
@gray-light: #606060;
@gray-lighter: #d0d0d0;
@gray-almostwhite: #f0f0f0;

// Brand Colors
@brand-primary: #cc0000;
@brand-success: #3D9970;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@brand-info: #606060;

//Body
@body-bg: @gray-light;

body.blogzinga {
    padding-top: 50px;
    font-family: Helvetica, sans-serif;
    background-color: @body-bg;
    color: @gray;
    .small-col {
      width: 15%;
    }
    a, a:hover  {
      color: @gray-darker;
    }
    .workingday {
      margin-top:-5px;
    }
    .edit-workingday {
      margin-top:35px;
    }
    .day-check{
      display: inline;
      .btn {
        font-size: 11px
      }
    }
    .row.breadcumbs {
        min-height: 40px;
        line-height: 40px;
        background-color: @gray-dark;
        color: @gray-lighter;
    }
    .progress {
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: @gray-lighter;
        background-image: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
        margin-top: 5px;
        height: 30px;
        width: 75%;
        overflow: visible;
        position: relative;
        .percentage {
            margin-left: 5px;
            font-weight: 700;
            font-size: 16px;
            line-height: 33px;
            position: absolute;
            right: -62px;
            color: @gray;
        }
         .progress-bar {
            background-color: @gray-light;
            background-image: none;
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
        }
    }
    a.std_link{
      color: @gray-dark;
    }
    a.std_link:hover{
      color: @brand-primary;
    }

}

.timetable, .evidence{
  background-color: #eee;
  .btn-danger {
    top: -2px;
    position: relative;
    padding: 3px 5px 1px;
    font-size: 12px;
  }
}

.holiday-table{
  .col-sm-6{
    background-color: #eee;
    margin-top: 2px;
  }
}

.help-block {
    &.help-error {
        color: @brand-primary;
    }
  }
.logo {
  height: 30px;
  position: relative;
  top: -5px;
}
.navbar-brand {
    position: absolute;
    width:110px;
    height: 50px;
    top: 0;
    span {
      margin-left: 10px;
    }
}
@media screen and (max-width: 767px) {
    .navbar-brand {
        position: inherit;
        span {
            margin-left: 0;
        }
        .logo {
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -15px;
        }
    }
}
.navbar-collapse {
    position: relative;
}
#user-email{
  position: absolute;
  right: 45px;
  a {
        color: #fff;
  }
}
#pulldown-menu {
    position: absolute;
    right: 0;
    height: 50px;
    a {
        cursor: pointer;
        color: #fff;
        span {
            display: inline-block;
            padding: 1px 2px 0px 4px;
            border: 1px solid #fff;
            background-color: @brand-primary;
            position: relative;
            top: -2px;
            i {
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
}
.navbar-nav {
    & > li#pulldown-menu {
        & > .dropdown-menu {
            background-color: @gray-darker;
            left: auto;
            right: 0;
        }
    }
}
li#pulldown-menu {
    & > .dropdown-menu {
        & > li {
            & > a {
                color: #999;
                &:hover, &:focus {
                    background-color: @gray-dark;
                    color: #fff;
                    background-image: none;
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
                }
            }
        }
    }
    .dropdown-menu {
        .divider {
            background-color: @gray-dark;
        }
    }
}
//Navigazione tablet/mobile
@media screen and (max-width: 767px) {
    .mobile-nav {
        margin-left: -15px;
        margin-right: -15px;
    }
    body.ducati
    {
        padding-top: 0;
        .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
            & > li > a {
                border-bottom: 1px solid @gray;
            }
            /*& > li:last-child > a {
                border-bottom: 0;
            }*/
        }
        .navbar-fixed-top {
            position: relative;
        }
        .navbar {
            margin-bottom: 0;
        }
        .navbar-inverse .navbar-toggle {
            border-width: 0;
            &:hover, &:focus {
                background-color: transparent;
            }
        }
    }
    #content-nav {
        display: none;
    }
}
.img-cover {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
}
#page-title {
    background-color: @gray-almostwhite;
    border-bottom: 1px solid @gray-lighter;
    .col-xl-4 {
        line-height: 60px;
        color: @gray-light;
    }
}
#dealer-name {
    position: relative;
    z-index: 200;
    h1 {
        position: absolute;
        top: -60px;
        font-size: 34px;
        padding: 18px 25px;
        color: @gray-dark;
        background-color: #fff;
        -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
        display: inline-block;
    }
}
.quick-data {
    text-align: right;
    line-height: 50px;
}
#contents {
    padding-bottom: 60px;
    background-color: @gray-almostwhite;
}
.widget {
    -webkit-animation: fadeIn .6s;
    animation: fadeIn .6s;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid @gray-lighter;
    .widget-header {
        line-height: 40px;
        padding: 3px 15px 0 15px;
        position: relative;
        color: @gray-dark;
        font-size: 16px;
        border-bottom: 1px solid @gray-lighter;
        .edit-icon {
            position: absolute;
            right:15px;
            line-height: 40px;
            color: @gray-light;
            cursor:pointer;
        }
        .glyphicon-play {
            color: @gray-lighter;
            cursor: pointer;
            &.up {
                -ms-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
                margin-left: 10px;
            }
            &.down {
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                margin-left: 5px;
            }
            &.active {
                color: #fff;
            }
        }
    }
    .widget-table {
        .row {
            margin-bottom: 10px;
        }
        .text-muted {
            color: @gray-light;
            font-size: 12px;
            &.separator {
                margin-top: 10px;
            }
        }
    }
    .widget-field {
        margin-top: 15px;
        border-bottom: 1px solid @gray-lighter;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .widget-body {
        padding: 15px;
        .item-title {
            margin-top: 30px;
            margin-bottom: 15px;
            .item-subtitle {
                display: block;
                font-size: 10px;
                color: @gray-light;
            }
        }
        .row:first-child {
            .item-title {
                margin-top: 0;
            }
        }
        .img-upload {
          width: 100%;
          text-align: center;
          padding-top: 64px;
          padding-bottom: 64px;
          border: 5px dashed @gray-lighter;
          position: relative;
          overflow: hidden;
          z-index: 400;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            cursor: move;
            z-index: 500;
          }
        }
        .remove-image, .update-image {
          display: inline-block;
          cursor: pointer;
          color: @brand-primary;
          font-size: 12px;
          margin-left: 10px;
          i {
            margin-right: 4px;
          }
        }
        .update-image {
          color: @gray;
        }
        .upload-save, .progress-label {
            margin-top: 20px;
            .btn + .btn,
            .btn + .popover + .btn {
                margin-left: 5px;
            }
        }
        .new-role-save {
            margin-top: 27px;
        }
        .form-group {
            .control-label {
                font-weight: 400;
                color: @gray-light;
            }
            .form-control {
                border-width: 2px;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                border-color: @gray-lighter;
                -webkit-box-shadow: none;
                box-shadow: none;
                &:focus, &:active {
                    border-color: @gray;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
            .help-block {
                font-size: 12px;
                color: @gray-light;
                margin-bottom: 0;
            }
            &.has-error {
                .form-control {
                    border-color: @brand-primary;
                }
                .help-block, .radio {
                    color: @brand-primary;
                }
            }
            &.has-success {
                .form-control {
                    border-color: @brand-success;
                }
                .help-block, .radio {
                    color: @brand-success;
                }
            }
            .form-control.has-error {
                  border-color: @brand-primary;
              }

        }
    }
    &.no-border {
      border: 0;
    }
    .glyphicon.read-only {
        font-size: 11px;
        margin-left: 7px;
    }
}
.widget.widget-edit {
    .widget-header {
        background-color: @gray-lighter;
        .edit-icon {
            color: @gray-dark;
            cursor: pointer;
        }
    }
}
.name-header {
    background-color: @gray-lighter;
    line-height: 40px;
    padding: 0 15px;
    position: relative;
    margin-bottom: 10px;
    .edit-icon {
        position: absolute;
        right:15px;
        line-height: 40px;
        color: @gray-dark;
    }
}
.widget.widget-alt {
    .widget-header {
        background-color: @gray-light;
        color: #fff;
        .edit-icon {
          color: @gray-lighter;
        }
    }
}
.meta-data {
    display: inline-block;
    font-size: 12px;
    color: @gray-lighter;
    margin-bottom: 10px;
}
#sidebar {
    .widget:first-child {
        -webkit-animation-name: none;
        animation-name: none;
        border-bottom: 0;
        .widget-body {
            padding: 0;
        }
    }
}
#content-nav {
    margin-top: 20px;
    width: 100%;
    .btn {
      width: 33.3%;
      padding-top: 10px;
      padding-bottom: 9px;
      &:last-child {
        border-left: 0 !important;
      }
    }
}
#content-nav:after {
    content: " ";
    clear: left;
}
.alert {
    &.alert-warning, &.alert-success, &.alert-info {
        background-image: none;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    }
    &.alert-error {
        background-color: #c0392b;
        color: #fff;
    }
}
.table.table-borderless {
    th {
        font-weight: 400;
    }
    td {
        border-top-width: 0;
    }
}

#overview .popover {
  color: @gray-light;
  width: 100px;
  text-align: center;
}
//Correzioni per mobile
@media screen and (max-width: 480px) {
  #dealer-name {
    h1 {
      font-size: 18px;
      top: -40px;
    }
  }
  .widget {
    .widget-body {
      padding: 10px;
    }
  }
}
/**********************************************************
  BUTTONS
**********************************************************/
@shadow: none;
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: transparent;
  border-color: @border;
  background-image: none;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @background;
    background-color: @color;
        border-color: @color;
    outline: none;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }
  .badge {
    color: @background;
    background-color: @color;
  }
}
.ducati {
  .btn {
    text-align: center;
    text-transform: uppercase;
    .button-variant(@gray-light; #fff; @gray-light);
    border-radius: 10px;
    &.btn-primary {
      border-radius: 16px;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      .button-variant(@gray; #fff; @gray);
      &.ladda-button[data-loading],
      &.ladda-button[data-loading]:hover {
        background-color: @gray;
        color: @gray-lighter;
      }
    }
    &.btn-day-check {
      padding: 5px 12px;
      margin-top: -2px;
      margin-right: 10px;
      margin-bottom: 10px
    }
    &.btn-success {
      .button-variant(@brand-success; #fff; @brand-success);
    }
    &.btn-danger {
      .button-variant(@brand-danger; #fff; @brand-danger);
    }
    &.btn-info {
      .button-variant(@brand-info; #fff; @brand-info);
    }
    &.btn-link {
      border-width: 0;
      &:hover {
        background-color: transparent;
        color: @gray-dark;
      }
    }
  }
  .btn-default,
  .btn-primary,
  .btn-success,
  .btn-info,
  .btn-warning,
  .btn-danger {
    text-shadow: none;
    -webkit-box-shadow: @shadow;
    box-shadow: @shadow;
    &:active,
    &.active {
      -webkit-box-shadow: @shadow;
      box-shadow: @shadow;
    }
  }
  .btn {
    &:active,
    &.active {
      background-image: none;
      -webkit-box-shadow: @shadow;
      box-shadow: @shadow;
    }
  }
  .input-group-btn > .btn {
    border-width: 2px;
    line-height: 18px;
    border-color: @gray-lighter;
    background-color: @gray-lighter;
    &:hover,
    &:focus,
    &:active {
      border-color: @gray-light;
      background-color: @gray-light;
      outline: none;
    }
  }
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    margin-left: -2px;
  }
  .btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 10px;
  }
  .btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 10px;
  }
  .modal-content {
    .btn-primary {
      .button-variant(@gray-lighter; #fff; @gray-lighter);
      &:hover {
        color: @gray;
      }
    }
  }
}
.navbar-inverse {
  background-color: @gray-darker;
  border-color: @gray-darker;
}
/**********************************************************
  MODAL
**********************************************************/
.ducati {
  .modal-content {
    background-color: @gray-darker;
    color: @gray-lighter;
    h3 {
      font-size: 18px;
    }
  }
  .modal-header,
  .modal-footer {
    border-color: @gray;
  }
}
/**********************************************************
  CALENDAR
**********************************************************/
.dropdown-menu.ng-pristine,
.dropdown-menu.ng-valid-date {
  * {
    &:focus {
      outline: none;
    }
  }
  em
  {
    font-style: normal;
  }
  &:focus {
    outline: 0;
  }
  padding-top: 0;
  border-radius: 0;
  .btn {
    border-radius: 0;
    &.btn-default {
      border-color: @gray-lighter;
      &:hover {
        .text-muted {
          color: #fff;
        }
      }
    }
    &.btn-default.active {
      background-color: @brand-primary;
      .text-info, .text-muted {
        color: #fff;
      }
    }
    &.btn-success {
      border-radius: 3px;
      border-color: @gray;
      background-color: #fff;
      color: @gray;
      &:hover {
        border-color: @gray;
        background-color: @gray;
        color: #fff;
      }
    }
  }
  .btn-group {
    .btn {
      &.btn-info, &.btn-danger {
        background-color: #fff;
        border-color: @gray-light;
        color: @gray-light;
        &:hover {
          background-color: @gray-light;
          color: #fff;
        }
      }
      &.btn-info {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &.btn-danger {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}
/**********************************************************
  MODAL
**********************************************************/
body.ducati .modal-content {
    &, .row {
        background-color: @gray-dark;
        color: @gray-lighter;
    }
    .modal-header, .modal-footer {
        border-color: @gray;
    }
    .modal-title {
        font-size: 18px;
    }
}
/**********************************************************
  LANGUAGE SELECTION
**********************************************************/
body.ducati .language-link {
    color: #fff;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    padding-left: 10px;
    img {
        margin-right: 10px;
    }
    &:hover {
        background-color: @gray;
        text-decoration: none;
    }
}
/**********************************************************
  ANIMAZIONI
**********************************************************/
.widget,
.img-cover {
    -webkit-animation: fadeIn .6s;
    animation: fadeIn .6s;
}
#dealer-name {
    -webkit-animation: slowFadeIn 1s;
    animation: slowFadeIn 1s;
}
#sidebar .widget {
    -webkit-animation: none;
    animation: none;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes slowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes slowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/***********************************************************************************
  SPLASH
***********************************************************************************/
.splash {
  position: relative;
  width: 100%;
  line-height: 50px;
}
.rotate {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 6px solid @gray-light;
  border-right-color: @gray-dark;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -20px;
  -webkit-animation: infiniteLoop 1.4s infinite linear;
  animation: infiniteLoop 1.4s infinite linear;
}

/***********************************************************************************
  INTINITE LOOP
***********************************************************************************/
@-webkit-keyframes infiniteLoop {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes infiniteLoop {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

div.loading-red {
  width: 100%;
  height: 166px;
  background-image: url('../img/loadingRed.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

div.loading-red-panoramic {
  width: 100%;
  height: 166px;
  background-image: url('../img/loadingRed.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

div.loading-red-header {
  width: 100%;
  height: 280px;
  background-image: url('../img/loadingRed.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
}
.img-loading-container {
  position: relative;
  text-align: center;
  z-index: 100;
  span {
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 10px;
    left: 0;
    z-index: 700;
    font-size: 85%;
  }
  &.img-cover-container {
    span {
      bottom: 60px;
    }
  }
}
