.bs-component
    nav.navbar.navbar-default
        .container-fluid
            .collapse.navbar-collapse
                form.navbar-form.navbar-left.width100
                    .form-group.width100
                        input.form-control.width100(type="text", placeholder="Search", ng-model="filterBlog")

    div.col-md-12
        .panel.hand(ng-repeat="blog in blogs | filter: filterBlog", ng-click="openUrl(blog.url)")
            .panel-heading(random-header)
                h3.panel-title {{blog.title}}
            .panel-body
                .row
                    .col-md-10
                        div {{blog.topic}}
                        div {{blog.tags | join}}
                    .col-md-2.pull-right
                        img(ng-src="{{blog.preview}}")
                      